<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955102039435-g2vrspvh4n8bri81b0l17our37n5sc8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955102039435-g2vrspvh4n8bri81b0l17our37n5sc8v</string>
	<key>API_KEY</key>
	<string>AIzaSyDcwlgyvXDe3JLWjL7ToQVuivHjJyKJfnE</string>
	<key>GCM_SENDER_ID</key>
	<string>955102039435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrScan</string>
	<key>PROJECT_ID</key>
	<string>fmc-database-a8029</string>
	<key>STORAGE_BUCKET</key>
	<string>fmc-database-a8029.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955102039435:ios:59cc647b93d6034e67f38e</string>
	<key>DATABASE_URL</key>
	<string>https://fmc-database-a8029-default-rtdb.firebaseio.com</string>
</dict>
</plist>